@import '../../variable.scss';
.admin{
    height: 100vh;
    background-image: url('../../images/admin-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

.menu{
    width: 60%;
    border: 1px solid #D9D9D9;
    border-top: none;
    margin: 0 auto;
    padding: 20px 20px 0;

    button{
        background-color: transparent;
        border: none;
        outline: none;
        margin: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include text(20px, 600, 22px);

        img{
            margin-right: 5px;
        }
    }
}