.edit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}