.admin-reviews {
  margin-top: 80px;

  &__swiper {
    width: 100%;
  }

  .reviews__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }
}

.title_icon {
  margin-right: 10px;
}



@media screen and (max-width: 500px){
  .admin-reviews{
    .reviews__content{
      display: block;

      .reviews_item-controll-remove{
        margin: 0 auto;
      }
    }
  }
}

