@import '../../variable.scss';

.menu{
  padding: 20px 0;

  &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &__list{
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
  }

  &__item + &__item{
      margin-left: 40px;
  }

  &__link{
      color: $black;
      text-decoration: none;
  }

  &__order-call{
      @include button();
  }
}

.header{
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../images/header-bg.jpg");
  background-size: cover;

  &__wrapper{
      height: 100%;
      position: relative;
  }
  .container{
      height: 100%;
  }

  &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
  }

  &__description{
      @include text(16px, 400, 22px);
      margin: 0 0 20px 0;
  }

  &__sign-up{
      @include button;
  }

  &__girl{
      position: relative;
      height: 100%;
  }

  &__tools{
      position: absolute;
      bottom: -20%;
      left: 8%;
  }
}
