@import '../../../variable.scss';

.admin{
  .prices{
    padding: 80px 0 0;
  }
}

.services__controlls {
  margin-top: 35px;
  &-add {
    @include button();
    display: block;
    width: 163px;
    height: 35px;
  }
}
